
<section class="banner" style="margin-top: 60px;">

    <span>Donate us now</span>
    <h3>Voluntary service</h3>
    <p>Our mission is to feed all the needy people and no one feels that he is going to sleep hungry today.</p>
    <a href="/" class="btn">Login</a>

</section>
<br><br><br><br><br><br><br><br><br><br><br>