<!-- <div id="carousel" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/assets/images/img-1.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/assets/images/img-2.jpg" class="d-block w-100" alt="...">
		</div>
		<div class="carousel-item">
			<img src="/assets/images/img-3.jpg" class="d-block w-100" alt="...">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carousel"
		data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carousel"
		data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div> -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs" style="margin-top: 90px;">

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="/assets/images/img-1.jpg" alt="">
                </div>
            </div>
            
            <div class="swiper-slide slide">
                <div class="image">
                    <img src="/assets/images/img-2.jpg" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="/assets/images/img-3.jpg" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="https://media.istockphoto.com/id/1181962948/photo/volunteers-scooping-the-food-to-share-with-the-needy-concept-of-providing-free-food-to.jpg?s=612x612&w=0&k=20&c=pWU0efeNYR58cEKMA7FlhGTUZY_NFytbJJ9XOxZe0HA=" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="https://media.istockphoto.com/id/827751018/photo/unrecognizable-volunteer-serves-child-in-soup-kitchen.jpg?s=1024x1024&w=is&k=20&c=BmDP7oIUC4cuD33EvWmNApRcrsEf14MiPxYv-UlaYOg=" alt="">
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>





<!-- banner section starts  -->

<section class="banner" >

    <span>Donate us now</span>
    <h3>Voluntery service</h3>
    <p>Our mission is to feed all the needy people and no one feels that he is going to sleep hungry today.</p>
    <a href="/" class="btn">Login</a>

</section>

<!-- banner section ends -->

<!-- features section starts  -->

<section class="features" id="features" style="padding-top: 30;">

    <h1 class="heading"> <span>Website features</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="https://media.istockphoto.com/id/1365666356/photo/delivery-driver-leaves-packages-on-customers-front-porch.jpg?s=612x612&w=0&k=20&c=RWNoBbzBomnIrSszxzH6QTNnw3oKBHK55gOAtxKiECI=" alt="">
            </div>
            <div class="content">
                <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/doorstep-delivery-2593233-2164480.png?f=webp&w=512" alt="">
                <h3>door step pickup</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro odio sed dolores veniam soluta incidunt a dignissimos aliquam nihil dolorem quo id voluptates omnis consectetur quas, vero repudiandae nesciunt corrupti!.</p>
                <a href="account.html" class="btn">read more</a>
            </div>
        </div>

        <div class="box second">
            <div class="image">
                <img src="https://media.istockphoto.com/id/1441627072/photo/sitting-in-car-trunk-and-checking-if-all-the-groceries-on-the-list-are-packed-and-ready-for.webp?b=1&s=170667a&w=0&k=20&c=g8ESojiKhEKKe_k_6yiOFdTRultTZSRqGrWJEIZffvc=" alt="">
            </div>
            <div class="content">
                <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/live-feedback-3962283-3284704.png?f=webp&w=512" alt="">
                <h3>easy and fully digital process</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae odio cum, asperiores repellendus dolore rem officiis ducimus veniam, repudiandae distinctio dignissimos. Optio, mollitia inventore blanditiis quo ab neque voluptas quibusdam!</p>
                <a href="account.html" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="https://media.istockphoto.com/id/1300374941/vector/free-shipping-icon-free-delivery-badge-with-truck-vector-ui-icon-neumorphic-ui-ux-white-user.jpg?s=612x612&w=0&k=20&c=FvSOPTMYj6eSFYfiMrBL8MZesvWubU_qKGB55apWNIY=" alt="">
            </div>
            <div class="content">
                <img src="https://static.thenounproject.com/png/338463-200.png" alt="">
                <h3>No service charges </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quis consequuntur voluptatibus aliquam nihil sequi placeat beatae rem accusamus reiciendis, impedit fuga, molestias iure cupiditate fugiat veritatis cumque eum quibusdam.</p>
                <a href="account.html" class="btn">read more</a>
            </div>
        </div>

    </div>

</section>

<!-- features section ends -->

<!-- review section starts  -->

<section class="review">

    <div class="information">
        <span>testimonials</span>
        <h3>what our clients says</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas praesentium asperiores fugiat, excepturi odit obcaecati a voluptatibus earum quisquam?</p>
        <a href="login.html" class="btn"> read more</a>
    </div>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas praesentium asperiores fugiat</p>
                <div class="user">
                    <img src="https://media.istockphoto.com/id/1333001232/photo/portrait-of-indian-man-face-outdoors-looking-at-camera.jpg?s=1024x1024&w=is&k=20&c=LX5_vg_NJEqSNn3okKSQqsWno1YzrRPT1-Jc1ZxhO_o=" alt="">
                    <div class="info">
                        <h3> pranav</h3>
                        <span>Donar</span>
                    </div>
                    <i class="fas fa-quote-left"></i>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas praesentium asperiores fugiat</p>
                <div class="user">
                    <img src="https://media.istockphoto.com/id/1384357176/photo/portrait-of-a-handsome-mexican-man.webp?b=1&s=170667a&w=0&k=20&c=b-l65y0h0uFanA52KOCZ-iGEgL1kgHtbvPXrMkz8iUs=" alt="">
                    <div class="info">
                        <h3>sanket</h3>
                        <span>Donar</span>
                    </div>
                    <i class="fas fa-quote-left"></i>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas praesentium asperiores fugiat.</p>
                <div class="user">
                    <img src="https://media.istockphoto.com/id/926224348/photo/portrait-of-indian-businessman.webp?b=1&s=170667a&w=0&k=20&c=QQw0jyaiZSU2FRitPNaXzaP_hZEfu-zKcE_bqy-lfNU=" alt="">
                    <div class="info">
                        <h3>virat</h3>
                        <span>Donar</span>
                    </div>
                    <i class="fas fa-quote-left"></i>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas praesentium asperiores fugiat</p>
                <div class="user">
                    <img src="https://media.istockphoto.com/id/1135381120/photo/portrait-of-a-young-woman-outdoors-smiling.webp?b=1&s=170667a&w=0&k=20&c=vXWUGCj4RXTAe9siSl7w9whm6IaWZ7HpNfNeYEn8OTc=" alt="">
                    <div class="info">
                        <h3>avi</h3>
                        <span>Donar</span>
                    </div>
                    <i class="fas fa-quote-left"></i>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- review section ends -->



<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>







	